<!-- <mat-grid-list [cols]="cols" [rowHeight]="fit">
  <mat-grid-tile *ngFor="let anime of animes$ | async; index as i">
    <pre>{{ anime | json }}</pre>
    <p>{{ anime[0] | json }}</p>
  </mat-grid-tile>
</mat-grid-list> -->

<!-- <p *ngFor="let anime of animes$ | async">{{ anime | json }}</p> -->

<div *ngIf="animes$ | async as animes">
  <p *ngFor="let item of animes">{{ item | json }}</p>
</div>
